* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #05070d;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white
}

section {
    padding: 100px 8%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00aaff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

/* MOBILE FIX */
@media(max-width:900px) {

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #111;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
        border-left: 2px solid #00aaff;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}


/* smooth page feel */
html {
    scroll-behavior: smooth;
}

/* glow background */
.glow {
    position: fixed;
    width: 500px;
    height: 500px;
    background: #00aaff;
    filter: blur(140px);
    opacity: 0.2;
    z-index: -1;
    top: -100px;
    right: -100px;
}