form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    max-width: 500px;
}

input,
textarea {
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
}

button {
    padding: 12px;
    background: #00aaff;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

#status{
margin-top:15px;
color:#00aaff;
font-size:14px;
}